database_hostname=localhost
database_port=5432
database_username=postgres
database_password=postgres
database_name=fastapi

secret_key=CHANGE_ME
algorithm=HS256
access_token_expire_minutes=60

# "*" or comma-separated list like:
# cors_origins=http://localhost:3000,https://myapp.com
cors_origins=*
